@use '../abstracts/index' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

html {
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: $font-body;
  font-size: 16px;
  line-height: 1.5;
  color: $text-color;
  background-color: $bg-color;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style: none;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}