@use '../abstracts/index' as *;

.main-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.about-container {
    padding: $spacing-2xl;
    background: $surface-color;
    border: 1px solid $muted-color;
    border-radius: $border-radius-md;
    width: 50%;
}