@use '../abstracts/index' as *;

.main-about {
    display: flex;
    flex-direction: column;
    max-width: 48rem;
    max-height: 24rem;
    margin: $spacing-2xl auto;
    padding: $spacing-xl;
    background: $surface-color;
    border: 1px solid $muted-color;
    border-radius: $border-radius-md;
}